.heading-container{
   padding: 50px 50px;
   text-align: center;

}

.heading{
    font-size: 70px;
}
.form-container{
    width: 50%;

}

.table-container{
    width: 50;  
}

.form-table-container{
    display: flex;
    gap:10px;
}