.card-header {
    width : 51% !important;
}


.form-Container{
    width: 60%;
}

.form-control{
    width: 611px;
    padding: 1px;
    margin :5px;

}


.btn{
    width: 76px;
    margin: 9px 0px 0px 159px;
    
}

.form-check-input{
    margin: 5px 0px 0px 87px;
}

.table-container{
    width: 60%;
}


.btn2{
 width: 176px;
 margin: 0px 0px 0px 0px;
}