<p>first works!</p>
<p>Hello, {{ name  }}!</p>
<label>Name : </label><input [(ngModel)]="name" />
<br><br>
<button class="btn-TitleChange" (click)="changTitle()"  [disabled]="isDisabled" >change title</button>
<h1>{{title}}</h1>
<p>My name is {{ myName() }}</p>
<!-- <img [src]="imgUrl" alt="Image" width="20%"/> -->

<label>Enter your name:</label>
<input type="text" />
<br>   <br>

<button >Create the Login</button>
<br>
<br>

<button (click)="sendingTheData()" mat-raised-button color="secondary" > GetTheData</button>

<button (click)="sendTheData()" mat-raised-button color="secondary">PostTheData</button>


<button (click)="updateTheData()" mat-raised-button color="secondary" >updateTheData</button>









